body {
    background-color: lightgray;
}

.text {
    color: black;
    text-align: center; /* Center-align the text */
    margin: 5% auto; /* Set margin to auto to center horizontally and vertically */
    max-width: 70%; /* Limit the maximum width of the text container */
}
