.pokemon-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.pokemon-details-modal {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    max-width: 800px; 
    z-index: 1000;
}

.pokemon-details {
    margin-top: 20px;
}

.pokemon-details ul {
    padding-left: 0;
    list-style: none;
}

.pokemon-details li {
    margin-bottom: 10px;
}

.pokemon-details strong {
    font-weight: bold;
}